#scene2 {
  height: 100%;
  display: none;
  background-image: linear-gradient(180deg, #ff6f55, #db2b13);
  animation-duration: .3s;

  .ask {
    animation-name: fadeInUp;
    animation-delay: .3s;
    animation-duration: .5s;
  }
  .prices .item {
    animation-name: fadeInUp;
    animation-delay: .5s;
    animation-duration: .5s;
  }

  .goods {
    width: px2rem(678);
    height: px2rem(737);
    margin: px2rem(-40) auto 0;
    position: relative;
    background: url("../assets/img/s2-bg.png") no-repeat 0 0;
    background-size: 100%;

    .pin {
      width: px2rem(31);
      height: px2rem(32);
      content: '';
      position: absolute;
      background: url("../assets/img/s2-1.png") no-repeat 0 0;
      background-size: 100%;
      z-index: 5;

      &.tl {
        top: px2rem(100);
        left: px2rem(15);
      }

      &.tr {
        top: px2rem(100);
        right: px2rem(30);
      }

      &.bl {
        top: px2rem(675);
        left: px2rem(15);
      }

      &.br {
        top: px2rem(675);
        right: px2rem(30);
      }
    }

    .img {
      width: px2rem(654);
      height: px2rem(625);
      position: absolute;
      top: px2rem(92);
      left: px2rem(6);
      border-radius: px2rem(10);
      overflow: hidden;

      img {
        width: inherit;
        height: inherit;
      }

      .title {
        height: px2rem(100);
        font-size: px2rem(28);
        position: relative;
        color: #fff;
        transform: translate(0, -110%);
        background: rgba(0, 0, 0, .5);
        padding: px2rem(10) px2rem(50) 0;
      }
    }
  }

  .ask {
    width: px2rem(678);
    text-align: center;
    margin: px2rem(35) auto px2rem(15);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .prices {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .item {
      width: 50%;
      margin-bottom: px2rem(40);
      text-align: center;

      button {
        width: px2rem(280);
        height: px2rem(63);
        color: #fff;
        font-size: px2rem(40);
        padding-left: px2rem(50);
        border: px2rem(4) solid #fff;
        border-radius: px2rem(30);
        display: inline-block;
        background: #FF5248;
        position: relative;
        box-shadow: px2rem(2) 0 0 px2rem(5) #FF7966;
        transition: .3s;
        animation-duration: 0.1s;

        &.flip {
          animation-duration: 1s;
        }

        &.success {
          border-color: #FFFD65;

          &:before {
            background: #FFFD65;
          }
        }

        &.disabled {
          color: rgb(206, 206, 206);
          background: #eee;

          &:before {
            color: #eee;
            background: #ccc;
          }
        }

        &:before {
          width: px2rem(68);
          height: px2rem(68);
          line-height: px2rem(68);
          position: absolute;
          font-size: px2rem(40);
          font-weight: bold;
          top: px2rem(-8);
          left: px2rem(-4);
          color: #E43720;
          background: #fff;
          border-radius: 50%;
          content: '￥';
        }
      }
    }
  }

}