#scene1 {
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 93, 70, 1) 60%, rgba(214, 37, 20, 1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 100%;
  display: none;

  .container {
    .rules {
      width: px2rem(92);
      height: px2rem(95);
      animation-delay: .9s;
      animation-duration: .7s;
      background: url("../img/game-rules.png") no-repeat 0 0;
      background-size: 100%;
      position: absolute;
      top: 0;
      right: px2rem(30);
      z-index: 2;
    }

    .title {
      width: px2rem(750);
      height: px2rem(379);
      animation-delay: .5s;
      animation-duration: .7s;
      background: url("../img/s1-1.png") no-repeat 0 0;
      background-size: 100%;
      z-index: 1;
    }

    .body {
      width: px2rem(750);
      height: px2rem(691);
      background: url("../img/s1-2.png") no-repeat 0 0;
      background-size: 100%;
    }

    .action {
      margin-top: px2rem(50);
      text-align: center;
      animation-delay: .9s;
      animation-duration: .5s;

      &.flash {
        animation-delay: .5s;
      }

      button {
        width: px2rem(319);
        height: px2rem(82);
        text-indent: -9999em;
        border: none;
        background: url("../img/s1-3.png") no-repeat 0 0;
        background-size: 100%;
      }
    }
  }
}