#scene1 {
  height: 100%;
  background: #F0F0F0;
  display: none;

  .chat-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;

    .item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: px2rem(25);

      &.right {
        display: inline-flex;
        flex-direction: row-reverse;
        padding-right: 0;

        img.avatar {
          margin: 0 px2rem(20) 0 px2rem(25);
        }

        .msg {
          background: #FFDB55;

          &:before {
            left: auto;
            right: px2rem(-12);
            top: 20%;
            @include triangle(right, px2rem(20), px2rem(20), #FFDB55);
          }
        }
      }

      &:nth-child(2) {
        animation-delay: 1s;
      }

      &:nth-child(3) {
        animation-delay: 2s;
      }

      &:nth-child(4) {
        animation-delay: 3.5s;
      }

      img.avatar {
        width: px2rem(85);
        height: px2rem(85);
        flex-shrink: 0;
        margin: 0 px2rem(25) 0 px2rem(20);
      }

      .msg {
        line-height: px2rem(35);
        max-width: px2rem(450);
        font-size: px2rem(30);
        border-radius: px2rem(10);
        padding: px2rem(30);
        background: #fff;
        position: relative;
        box-shadow: 0 px2rem(2) px2rem(5) px2rem(-2) rgba(0, 0, 0, .3);

        &:before {
          position: absolute;
          left: px2rem(-12);
          top: 20%;
          @include triangle(left, px2rem(20), px2rem(20), #fff);
        }

        &.img {
          padding: 0 0 0 0;

          &:before {
            border-right-color: #FE9806;
          }

          img {
            width: px2rem(450);
            height: px2rem(197);
          }
        }
      }
    }
  }

  .send-container {
    width: 100%;
    height: px2rem(104);
    position: fixed;
    bottom: 0;
    background: #fff url("../assets/img/send.png") no-repeat 0 0;
    background-size: 100% 100%;
    display: none;
    display: none;
    align-items: center;

    &.active {
      display: flex;

      .btn-send {
        display: inline-block;
      }
    }

    .input-box {
      font-size: px2rem(32);
      line-height: px2rem(104-32);
      width: px2rem(470);
      height: 70%;
      margin-left: px2rem(100);
      border-bottom: 2px solid #FCB995;
    }

    .btn-send {
      color: #fff;
      border: 0;
      font-size: px2rem(30);
      border-radius: px2rem(5);
      padding: px2rem(20) px2rem(18);
      background: #FE5B00;
      margin-left: px2rem(18);
      display: none;
    }
  }
}