#scene2 {
  display: none;

  .prices {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 250px;

    .item {
      width: 50%;
      text-align: center;

      button {
        display: inline-block;
        font-size: px2rem(30);
        background: #eee;
      }
    }
  }
}