.toast-container {
  max-width: 80%;
  position: fixed;
  color: #FF281E;
  font-weight: bold;
  background: #FFFD65;
  padding: px2rem(30) px2rem(35);
  font-size: px2rem(35);
  animation-duration: .3s;
  border-radius: .21333rem 0 0 .21333rem;
  top: px2rem(610);
  right: 0;
}